:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  mat-card {
    width: 500px;
    padding: 10px;

    .login-form {
      display: flex;
      flex-direction: column;
    }

    mat-card-actions {
      padding: 0 15px;

      button {
        width: 100%;
      }
    }
  }
}
